.recommended_friends {
  padding: 15px 0px;
  border-top: var(--border-line);
  border-bottom: var(--border-line);
}
.recommended_friends__title {
  font-size: 16px;
  color: var(--font-gray);
}
.recommended_friends span {
  margin: 80px 0px;
  font-size: 16px;
  color: var(--font-gray);
  text-align: center;
  display: block;
}
.open-chat__header {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 5px;
}
.open-chat__header span {
  color: var(--font-gray);
  font-size: 14px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 5px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--font-gray);
  opacity: 0.8;
  margin-bottom: 5px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 1px;
  height: 15px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}
.open-post__member-status {
  font-size: 14px;
  color: tomato;
  font-weight: 400;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 28px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 5px;
}
